In [ ]:
import pandas as pd

#Add codes to load tips.csv into a DataFrame named df 
#each row of the file show some information about a table
# (5 points)

In [ ]:
#To display the first part of df using DataFrame.head() function
#expected output
'''	
total_bill	tip	smoker	day	time	size
0	16.99	1.01	No	Sun	Dinner	2
1	10.34	1.66	No	Sun	Dinner	3
2	21.01	3.50	No	Sun	Dinner	3
3	23.68	3.31	No	Sun	Dinner	2
4	24.59	3.61	No	Sun	Dinner	4
'''


df.head()

In [ ]:
#Add codes to find out how many rows and columns does df have
#Hint: Look into the shape attribute of df
#Expected output
#(244, 6)
# (5 points)

In [ ]:
# There are four waitresses and they take turn to wait the tables in this order : 'Sam','Alice','Britney','Lauren'
# Add codes to add a column to df with 'waitress' as the column name, and the values of the column repeat'Sam','Alice','Britney','Lauren'
# (10 points)

In [ ]:
#To display df
#Expected output

'''
total_bill	tip	smoker	day	time	size	waitress
0	16.99	1.01	No	Sun	Dinner	2	Sam
1	10.34	1.66	No	Sun	Dinner	3	Alice
2	21.01	3.50	No	Sun	Dinner	3	Britney
3	23.68	3.31	No	Sun	Dinner	2	Lauren
4	24.59	3.61	No	Sun	Dinner	4	Sam
...	...	...	...	...	...	...	...
239	29.03	5.92	No	Sat	Dinner	3	Lauren
240	27.18	2.00	Yes	Sat	Dinner	2	Sam
241	22.67	2.00	Yes	Sat	Dinner	2	Alice
242	17.82	1.75	No	Sat	Dinner	2	Britney
243	18.78	3.00	No	Thur	Dinner	2	Lauren
'''

df

In [ ]:
#Add codes to change df so that column 'waitress' become index
#Hint: (1) explore the DataFrame.set_index() function
#      (2) make the change inplace
# (5 points)

In [ ]:
# To display df after set_index
#Expected outcome 
'''
total_bill	tip	smoker	day	time	size
waitress						
Sam	16.99	1.01	No	Sun	Dinner	2
Alice	10.34	1.66	No	Sun	Dinner	3
Britney	21.01	3.50	No	Sun	Dinner	3
Lauren	23.68	3.31	No	Sun	Dinner	2
Sam	24.59	3.61	No	Sun	Dinner	4
...	...	...	...	...	...	...
Lauren	29.03	5.92	No	Sat	Dinner	3
Sam	27.18	2.00	Yes	Sat	Dinner	2
Alice	22.67	2.00	Yes	Sat	Dinner	2
Britney	17.82	1.75	No	Sat	Dinner	2
Lauren	18.78	3.00	No	Thur	Dinner	2
'''

df

In [ ]:
#Add codes to remove rows with 'Britney' as index label and remove cloumns 'smoker' and 'time'
#Hint: make the changes inplace
# (5 points)

In [ ]:
# To display df after removing row and columns
#Expected outcome 
'''
	total_bill	tip	day	size
waitress				
Sam	16.99	1.01	Sun	2
Alice	10.34	1.66	Sun	3
Lauren	23.68	3.31	Sun	2
Sam	24.59	3.61	Sun	4
Alice	25.29	4.71	Sun	4
...	...	...	...	...
Alice	32.83	1.17	Sat	2
Lauren	29.03	5.92	Sat	3
Sam	27.18	2.00	Sat	2
Alice	22.67	2.00	Sat	2
Lauren	18.78	3.00	Thur	2

'''
df

In [ ]:
#Add codes to extract rows with 'Sam' as waitress and assign them to a new DataFrame named df_Sam
# (10 points)

In [ ]:
#To display df_Sam
#Expected outcome
'''
	total_bill	tip	day	size
waitress				
Sam	16.99	1.01	Sun	2
Sam	24.59	3.61	Sun	4
Sam	15.04	1.96	Sun	2
Sam	15.42	1.57	Sun	2
Sam	10.33	1.67	Sun	3
...	...	...	...	...
Sam	13.42	1.58	Fri	2
Sam	13.28	2.72	Sat	2
Sam	11.61	3.39	Sat	2
Sam	12.60	1.00	Sat	2
Sam	27.18	2.00	Sat	2
'''

df_Sam

In [ ]:
#Add codes to find out how many tables in total did Sam serve on Sunday and print out the result
#Expected outcome 19
# (10 points)

In [ ]:
#Add codes to find out the average tip that Sam received from a table on Sunday and print out the result
#Expected outcome 3.332105263157895
# (10 points)

In [ ]:
#Add codes to sort df_Sam in descending order by the amount of tip
#Hint: make the change inplace (You may see a warning. You can just ignore it)
# (10 points)

In [ ]:
#To display df_Sam after sorting
#expected outcome
'''
total_bill	tip	day	size
waitress				
Sam	48.33	9.00	Sat	4
Sam	24.71	5.85	Thur	2
Sam	30.40	5.60	Sun	4
Sam	34.81	5.20	Sun	4
Sam	7.25	5.15	Sun	2
...	...	...	...	...
Sam	15.42	1.57	Sun	2
Sam	11.17	1.50	Thur	2
Sam	16.99	1.01	Sun	2
Sam	5.75	1.00	Fri	2
Sam	12.60	1.00	Sat	2
'''
df_Sam

In [ ]:
#Add codes to find out the unique values in the 'day' column of df, and print out the unique values
#Hint: you can use set to find out unique values. 
#      you should look into df, not df_Sam
#Expected output
#{'Fri', 'Sat', 'Sun', 'Thur'}
# (10 points)

In [ ]:
#Add codes to calculate the average tip by day of the week
#This is the average tip a waitress received from a table on a given day of the week
       #e.g. how much tip did a waitress receive from a table on Sunday
#Save the results into a Series named ave_tip, so that ave_tip has day of the week as index and average tip as values.
#Expected output when display ave_tip

'''
Thur    2.877292
Sun     3.337679
Sat     2.991231
Fri     2.770714
'''
# (10 points)

In [ ]:
#To display ave_tip

ave_tip

In [ ]:
#Add codes to find out on which day of the week did the waitresses received the highest average tip
#Print out the result
#You can use Series.idxmas function
#Expected outcome Sun
# (10 points)