In [ ]:
import numpy as np
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [ ]:
# (10 pionts)
#insert codes to combine ser1 and ser2 into a dataframe named df
#expected output of df.head() 
'''	0	1
0	a	0
1	b	1
2	c	2
3	e	3
4	d	4
'''

In [ ]:
arr=[0.91121574, 0.11754551, 0.74347616, 0.87961463, 0.91649443,
       0.4558163 , 0.55720709, 0.64900363, 0.51744904, 0.24769539,
       0.29823968, 0.83304972, 0.23577746, 0.86462958, 0.42355621,
       0.26114975, 0.03946726, 0.83429182, 0.60897802, 0.87554919]
ser=pd.Series(arr)

In [ ]:
# (10 pionts)
#Discretize ser into 10 equal-sized bins using qcut, 
#change bin's labels to '1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'
#Desired output
'''
0     10th
1      1st
2      7th
3      9th
4     10th
5      4th
6      5th
7      6th
8      5th
9      2nd
10     3rd
11     7th
12     2nd
13     8th
14     4th
15     3rd
16     1st
17     8th
18     6th
19     9th
'''

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
df.head()

In [ ]:
# (10 pionts)
# insert codes to change the ‘medv’ column to 'low' if values < 25  and ‘High' if values >25
# expected output of df.head()
'''
    crim	medv
0	0.00632	low
1	0.02731	low
2	0.02729	high
3	0.03237	high
4	0.06905	high
'''

In [ ]:
# (10 pionts)
#insert code to rename column 'medv' to 'class'
#Expected output of df.head() 
'''
	crim	class
0	0.00632	low
1	0.02731	low
2	0.02729	high
3	0.03237	high
4	0.06905	high
'''

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [ ]:
# (10 pionts)
#Insert codes to Count the number of missing values in each column of df. 
#print out the numbers of missing values for the columns
#expected outcome
'''
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
'''

In [ ]:
# (10 pionts)
#print out the name of the column that has the maximum number of missing values?
#expected output
# 'Luggage.room'

In [ ]:
# (10 pionts)
# insert codes to replace missing values in Luggage.room,  Min.Price and Max.Price columns with their respective mean.
# expected outcome for  df[['Luggage.room', 'Min.Price', 'Max.Price']].head()
'''
	Luggage.room	Min.Price	Max.Price
0	13.986486	12.900000	18.800000
1	15.000000	29.200000	38.700000
2	14.000000	25.900000	32.300000
3	17.000000	17.118605	44.600000
4	13.000000	17.118605	21.459091
'''

In [ ]:
# (10 pionts)
#Get one-hot encodings for column 'Type' of df, and save it as a dataframe named one_hot 
#expected outcome of one_hot.head()
'''
	Compact	Large	Midsize	Small	Sporty	Van
0	0	0	0	1	0	0
1	0	0	1	0	0	0
2	1	0	0	0	0	0
3	0	0	1	0	0	0
4	0	0	1	0	0	0

'''

In [ ]:
# (10 pionts)
# Combine df with one_hot, save the result as df_one_hot
# expected output of df_one_hot.head()
'''
    Manufacturer	Model	Type	Min.Price	Price	Max.Price	MPG.city	MPG.highway	AirBags	DriveTrain	...	Luggage.room	Weight	Origin	Make	Compact	Large	Midsize	Small	Sporty	Van
0	Acura	Integra	Small	12.900000	15.9	18.800000	25.0	31.0	None	Front	...	13.986486	2705.0	non-USA	Acura Integra	0	0	0	1	0	0
1	NaN	Legend	Midsize	29.200000	33.9	38.700000	18.0	25.0	Driver & Passenger	Front	...	15.000000	3560.0	non-USA	Acura Legend	0	0	1	0	0	0
2	Audi	90	Compact	25.900000	29.1	32.300000	20.0	26.0	Driver only	Front	...	14.000000	3375.0	non-USA	Audi 90	1	0	0	0	0	0
3	Audi	100	Midsize	17.118605	37.7	44.600000	19.0	26.0	Driver & Passenger	NaN	...	17.000000	3405.0	non-USA	Audi 100	0	0	1	0	0	0
4	BMW	535i	Midsize	17.118605	30.0	21.459091	22.0	30.0	NaN	Rear	...	13.000000	3640.0	non-USA	BMW 535i	0	0	1	0	0	0
'''

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

In [ ]:
# (10 pionts)
#Join dataframes df1 and df2 using ['fruit', 'weight'] from df1 and ['pazham', 'kilo'] from df2 as keys.
#requirement #1 'fruit' matching with pazham', 'weight' matching with 'kilo'
#requirement #2 only keep rows common in df1 and df2 
#Expected output
'''
fruit	weight	price_x	pazham	kilo	price_y
0	apple	high	2	apple	high	8
1	apple	high	1	apple	high	8
2	apple	high	11	apple	high	8
3	orange	low	14	orange	low	1
4	orange	low	10	orange	low	1
5	orange	low	3	orange	low	1
'''