# "Learning to code"

#### a few new concepts to warm up: 
###### Strings are a data type that interperets letters and numbers as text, not numbers 
###### print() is Uber important becuase it allows us to dislay output on a clients screen 
###### running script in jupyter notebook is accomplished by pressing control + enter or the run button

In [1]:
# Lets practice: 
s = "This is my first program"  # creation of a string object 
print(s)                        # calling the string and printing

This is my first program

the print method can also directly call strings of text that arent variables

In [2]:
print("Hello")

Hello

### Some string methods:

it is important to mention that methods are called using "dot notation". I can call a method that 'does something' on a variable, i.e. 'X', by this "dot notation": X.methodName()

In [3]:
# string to be used for manipulation: 
str0 = "econ411 is going to be such a sweet class"
print(str0)

econ411 is going to be such a sweet class

In [4]:
# the .upper() method capitalizes the string: 
print(str0.upper())
# the .title() method capitalizes the first letter of each word: 
str0.title()

ECON411 IS GOING TO BE SUCH A SWEET CLASS

'Econ411 Is Going To Be Such A Sweet Class'

In [5]:
# strings can be "concatenated"-- combined into one using the +
str1 = " as long as I can successfully learn Python."
str2 = str0 + str1
print(str2)

econ411 is going to be such a sweet class as long as I can successfully learn Python.

In [6]:
# the print function can take multiple arguments, separated by a comma
# and it will print them both out without changing them: 
print(str0, str1)

econ411 is going to be such a sweet class  as long as I can successfully learn Python.

In [7]:
# escape sequences are not printed in the string but signal the string 
# format to do something-- \n starts a new line in the string, 
#                          \" adds quotes to the string 
print(" this string needs a \n new line")

 this string needs a
 new line

In [8]:
print("this string needs some \"Quotes\"")

this string needs some "Quotes"

In [9]:
# the print method lets us specify the separator it willl insert between
# arguments that we pass it: 

print(str0, str1, str2, sep = "\n")

econ411 is going to be such a sweet class
 as long as I can successfully learn Python.
econ411 is going to be such a sweet class as long as I can successfully learn Python.

### Other escape sequences: 
###### "\\"	Backslash
###### '\\''	Single Quote
###### "\\""	Double Quote
###### "\t"	Horizontal Tab
###### "\n"	New Line

### Other string functions: 
 ##### String Methods (more) i.e., str.lstrip(), str.rstrip(), str.strip(), str.replace()	str.lstrip(): remove spaces on the far left; str.rstrip(): remove spaces on the far right; str.strip(): remove spaces on the left and right of text object; str.replace(target, replace): replace instances of target string with replace string

# WORKING WITH NUMBERS:

### There are a couple different datatypes that deal with numbers: 
#### Integers: Whole numbers
#### Floats: numbers with decimal places

### Other concepts that will pop up: 
#### Errors: occur when a script is unable to be executed
#### Typecasting: specifying manually which datatype you want a variable to be 
#### Modules: allow user to use programs that have already been created. Need to be imported at beginning of script. Popular python modules include 'Pandas', 'NumPy', 'Matplotlib', and more. 
#### Overflow error: a type of error thatr occurs when you tell the computer to use one data type but actually call on one that uses more memory.

#### in python, you do not need to explitly declare variable types

In [10]:
# This exercise illustrates the difference between strings and integers:
#integersVsStrings.py

num1 = 4 + 8
num1s = "4" + "8"

print("num1:", num1,"\nnum1s:", num1s)

num1: 12
num1s: 48

as you can see, the integers have numerical operations perfomed on them but the strings are left as-is and treated as plain text with no numerical value.

In [11]:
# Floats demo: 
#floats.py
num1 = 5 / 3
num2 = 5 / 4
num3 = 4 / 3

print("num1:", num1, "\nnum2:", num2, "\nnum3:", num3)

num1: 1.6666666666666667
num2: 1.25
num3: 1.3333333333333333

In [12]:
# Errors demo: 
#printError.py
num1 = 5 / 3
num2 = 5 / 4
num3 = 4 / 3
sum_nums = num1 + num2 + num3

print("num1 + num2 + num3: " + sum_nums)

TypeError: can only concatenate str (not "float") to str

Above, we tried to concatenate a string variable and a float variable. This is not allowed, as python has no idea how to combine those two datatypes. This causes an error. We can fix this by castinf sumNums as a string:

In [13]:
#castString.py
num1 = 5 / 3
num2 = 5 / 4
num3 = 4 / 3
sum_nums = num1 + num2 + num3

print("num1 + num2 + num3: " + str(sum_nums))

num1 + num2 + num3: 4.25