# Dictionaries and Dataframes 
Today we will build dictionaries. Dictionaries are datastructures that do not assume an index value for the stored data. 

Dictionaries take the general form: 
>my_dictionary = {key:obj}

To call the object that is linked to the key: 

>my_dictionary[key] will output the object, obj.

In [1]:
dct = {}
dct

{}

In [2]:
dct = {"run":{}, 
      "walk":{}}
dct

{'run': {}, 'walk': {}}

now include defenitions

In [4]:
dct = {"run": "to move swiftly by foot, while keeping one foot off of the ground at all times", 
       "walk": "to move slowly by foot, keeping two feet in contact with the ground at all times"}
dct

{'run': 'to move swiftly by foot, while keeping one foot off of the ground at all times',
 'walk': 'to move slowly by foot, keeping two feet in contact with the ground at all times'}

dictionaries are like classes in object oriented programming

In [12]:
mvmt_dct = {"run":
       {"verb": "to move swiftly by foot, while keeping one foot off of the ground at all times", 
        "noun": "refers to a time when one was running" }, 
       "walk":
       {"verb": "to move slowly by foot, keeping two feet in contact with the ground at all times",
        "noun": "refers to a state when one was walking"}}
mvmt_dct

{'run': {'verb': 'to move swiftly by foot, while keeping one foot off of the ground at all times',
  'noun': 'refers to a time when one was running'},
 'walk': {'verb': 'to move slowly by foot, keeping two feet in contact with the ground at all times',
  'noun': 'refers to a state when one was walking'}}

## Introduction to dataframes using Pandas

In [15]:
import pandas as pd #needs to be imported to use 
df = pd.DataFrame(mvmt_dct) #call the dataframe df 
df

,run,walk
verb,"to move swiftly by foot, while keeping one foo...","to move slowly by foot, keeping two feet in co..."
noun,refers to a time when one was running,refers to a state when one was walking

create dictionary of people in class

In [16]:
dct = {"Caden":{}, 
      "Jacob K":{}, 
      "Finnian":{}, 
      "Genesis":{}, 
      "Sam":{}, 
      "Proma":{}, 
      "Zach":{},
       "Jacob R": {}, 
       "Brandon":{}, 
       "Gabe":{},
       "Drew":{}, 
       "Isaac":{},
       "Kodjo":{}
      }
dct

{'Caden': {},
 'Jacob K': {},
 'Finnian': {},
 'Genesis': {},
 'Sam': {},
 'Proma': {},
 'Zach': {},
 'Jacob R': {},
 'Brandon': {},
 'Gabe': {},
 'Drew': {},
 'Isaac': {},
 'Kodjo': {}}

In [20]:
dct = {"Caden":{"Age":19,
               "Interesting Fact":"Played hockey in hs"}, 
      "Jacob K":{"Age":21,
               "Interesting Fact":"Dr. Caton thought last name was something wrong"}, 
      "Finnian":{"Age":20,
               "Interesting Fact":"Wrestled in hs"}, 
      "Genesis":{"Age":20,
               "Interesting Fact":"Tore both ACLs"}, 
      "Sam":{"Age":23,
               "Interesting Fact":"Favorite color is beige"}, 
      "Proma":{"Age":24,
               "Interesting Fact":"Learned classical music"}, 
      "Zach":{"Age":20,
               "Interesting Fact":"On Track team at NDSU"},
       "Jacob R": {"Age":20,
               "Interesting Fact":"Plays classical rock on guitar"}, 
       "Brandon":{"Age":23,
               "Interesting Fact":"Used to play baseball "}, 
       "Gabe":{"Age":23,
               "Interesting Fact":"Double major in MIS and accounting for undergrad"},
       "Drew":{"Age":49,
               "Interesting Fact":"Air force veteran, hauled keiko(free willy)"}, 
       "Isaac":{"Age":21,
               "Interesting Fact":"Travelling to europe in summer 2022"},
       "Kodjo":{"Age":30,
               "Interesting Fact":"Wife is a soldier"}
      }
dct

{'Caden': {'Age': 19, 'Interesting Fact': 'Played hockey in hs'},
 'Jacob K': {'Age': 21,
  'Interesting Fact': 'Dr. Caton thought last name was something wrong'},
 'Finnian': {'Age': 20, 'Interesting Fact': 'Wrestled in hs'},
 'Genesis': {'Age': 20, 'Interesting Fact': 'Tore both ACLs'},
 'Sam': {'Age': 23, 'Interesting Fact': 'Favorite color is beige'},
 'Proma': {'Age': 24, 'Interesting Fact': 'Learned classical music'},
 'Zach': {'Age': 20, 'Interesting Fact': 'On Track team at NDSU'},
 'Jacob R': {'Age': 20, 'Interesting Fact': 'Plays classical rock on guitar'},
 'Brandon': {'Age': 23, 'Interesting Fact': 'Used to play baseball '},
 'Gabe': {'Age': 23,
  'Interesting Fact': 'Double major in MIS and accounting for undergrad'},
 'Drew': {'Age': 49,
  'Interesting Fact': 'Air force veteran, hauled keiko(free willy)'},
 'Isaac': {'Age': 21,
  'Interesting Fact': 'Travelling to europe in summer 2022'},
 'Kodjo': {'Age': 30, 'Interesting Fact': 'Wife is a soldier'}}

In [27]:
class_info = pd.DataFrame(dct).T
class_info

        Age                                  Interesting Fact
Caden    19                               Played hockey in hs
Jacob K  21   Dr. Caton thought last name was something wrong
Finnian  20                                    Wrestled in hs
Genesis  20                                    Tore both ACLs
Sam      23                           Favorite color is beige
Proma    24                           Learned classical music
Zach     20                             On Track team at NDSU
Jacob R  20                    Plays classical rock on guitar
Brandon  23                            Used to play baseball
Gabe     23  Double major in MIS and accounting for undergrad
Drew     49       Air force veteran, hauled keiko(free willy)
Isaac    21               Travelling to europe in summer 2022
Kodjo    30                                 Wife is a soldier

this is pretty sweet

In [22]:
#calling a particular cell 
df.loc["verb", "run"]

'to move swiftly by foot, while keeping one foot off of the ground at all times'

In [28]:
class_info.loc["Caden", "Age"]

19

In [29]:
class_info["Age"]

Caden      19
Jacob K    21
Finnian    20
Genesis    20
Sam        23
Proma      24
Zach       20
Jacob R    20
Brandon    23
Gabe       23
Drew       49
Isaac      21
Kodjo      30
Name: Age, dtype: object

In [41]:
#time to add Dr.Caton
dct["Dr.Caton"]={"Age" : 38, 
                "Interesting Fact": "Rode dirtbike"}
pd.DataFrame(dct).T

# and of course joe biden needs to be included 
dct["Joe Biden"]={"Age": 78, "Interesting Fact": "His favorite ice cream is chocolate chocolate chip"}
class_df = pd.DataFrame(dct).T
class_df

          Age                                   Interesting Fact
Caden      19                                Played hockey in hs
Jacob K    21    Dr. Caton thought last name was something wrong
Finnian    20                                     Wrestled in hs
Genesis    20                                     Tore both ACLs
Sam        23                            Favorite color is beige
Proma      24                            Learned classical music
Zach       20                              On Track team at NDSU
Jacob R    20                     Plays classical rock on guitar
Brandon    23                             Used to play baseball
Gabe       23   Double major in MIS and accounting for undergrad
Drew       49        Air force veteran, hauled keiko(free willy)
Isaac      21                Travelling to europe in summer 2022
Kodjo      30                                  Wife is a soldier
Dr.Caton   38                                      Rode dirtbike
Joe Biden  78  His favorite ice cream is chocolate chocolate ...