In [2]:
import pandas as pd 
import numpy as np
import statsmodels.api as sm

In [6]:
data = pd.read_excel("Project6b.xlsx", index_col = 0)

In [7]:
data

                cpi  unr
time
1948-01-01   23.680  3.4
1948-02-01   23.670  3.8
1948-03-01   23.500  4.0
1948-04-01   23.820  3.9
1948-05-01   24.010  3.5
...             ...  ...
2022-06-01  295.328  3.6
2022-07-01  295.271  3.5
2022-08-01  295.620  3.7
2022-09-01  296.761  3.5
NaT             NaN  3.7

[898 rows x 2 columns]

In [10]:
data["dCPI"] = data["cpi"].diff(1)
data["dCPI_lag"] = data["dCPI"].shift(1)

In [13]:
data = data.dropna()
data

                cpi  unr   dCPI  dCPI_lag
time
1948-03-01   23.500  4.0 -0.170    -0.010
1948-04-01   23.820  3.9  0.320    -0.170
1948-05-01   24.010  3.5  0.190     0.320
1948-06-01   24.150  3.6  0.140     0.190
1948-07-01   24.400  3.6  0.250     0.140
...             ...  ...    ...       ...
2022-05-01  291.474  3.6  2.811     0.955
2022-06-01  295.328  3.6  3.854     2.811
2022-07-01  295.271  3.5 -0.057     3.854
2022-08-01  295.620  3.7  0.349    -0.057
2022-09-01  296.761  3.5  1.141     0.349

[895 rows x 4 columns]

In [14]:
Y = data["dCPI"]
X = data[["dCPI_lag"]]
X = sm.add_constant(X)
model1 = sm.OLS(Y, X).fit()

In [15]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   dCPI   R-squared:                       0.344
Model:                            OLS   Adj. R-squared:                  0.343
Method:                 Least Squares   F-statistic:                     467.6
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           9.97e-84
Time:                        20:38:34   Log-Likelihood:                -410.96
No. Observations:                 895   AIC:                             825.9
Df Residuals:                     893   BIC:                             835.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1267      0.015      8.315      0.000       0.097       0.157
dCPI_lag       0.5871      0.027     21.625      0.000       0.534       0.640
==============================================================================
Omnibus:                      190.161   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5261.183
Skew:                          -0.194   Prob(JB):                         0.00
Kurtosis:                      14.871   Cond. No.                         2.36
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [28]:
model1.params

const       0.126735
dCPI_lag    0.587127
dtype: float64

In [34]:
october = model1.params.values[0] + model1.params.values[1] * data["dCPI"].loc["2022-09-01"]
october

0.7966464639145225

In [35]:
november = model1.params.values[0] + model1.params.values[1] * october
november

0.5944673226132927

In [29]:
data["dCPI_lag2"] = data["dCPI_lag"].shift(1)
data["dCPI_lag3"] = data["dCPI_lag2"].shift(1)
data["dCPI_lag4"] = data["dCPI_lag3"].shift(1)

<ipython-input-29-661221b0aebb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["dCPI_lag2"] = data["dCPI_lag"].shift(1)
<ipython-input-29-661221b0aebb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["dCPI_lag3"] = data["dCPI_lag2"].shift(1)
<ipython-input-29-661221b0aebb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["dCPI_lag4"] = data["dCPI_lag3"].shift(1)

In [30]:
data = data.dropna()
Y = data["dCPI"]
X = data[["dCPI_lag", "dCPI_lag2", "dCPI_lag3", "dCPI_lag4"]]
X = sm.add_constant(X)
model2 = sm.OLS(Y, X).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   dCPI   R-squared:                       0.374
Model:                            OLS   Adj. R-squared:                  0.371
Method:                 Least Squares   F-statistic:                     132.6
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           8.96e-89
Time:                        20:54:10   Log-Likelihood:                -389.33
No. Observations:                 892   AIC:                             788.7
Df Residuals:                     887   BIC:                             812.6
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0985      0.017      5.967      0.000       0.066       0.131
dCPI_lag       0.6086      0.033     18.176      0.000       0.543       0.674
dCPI_lag2     -0.1541      0.039     -3.958      0.000      -0.231      -0.078
dCPI_lag3      0.1489      0.040      3.742      0.000       0.071       0.227
dCPI_lag4      0.0780      0.035      2.200      0.028       0.008       0.148
==============================================================================
Omnibus:                      233.429   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6661.107
Skew:                          -0.534   Prob(JB):                         0.00
Kurtosis:                      16.345   Cond. No.                         5.36
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [38]:
model2.params

const        0.098530
dCPI_lag     0.608587
dCPI_lag2   -0.154139
dCPI_lag3    0.148856
dCPI_lag4    0.078050
dtype: float64

In [40]:
data

                cpi  unr   dCPI  dCPI_lag  dCPI_lag2  dCPI_lag3  dCPI_lag4
time
1948-06-01   24.150  3.6  0.140     0.190      0.320     -0.170     -0.010
1948-07-01   24.400  3.6  0.250     0.140      0.190      0.320     -0.170
1948-08-01   24.430  3.9  0.030     0.250      0.140      0.190      0.320
1948-09-01   24.360  3.8 -0.070     0.030      0.250      0.140      0.190
1948-10-01   24.310  3.7 -0.050    -0.070      0.030      0.250      0.140
...             ...  ...    ...       ...        ...        ...        ...
2022-05-01  291.474  3.6  2.811     0.955      3.526      2.249      1.807
2022-06-01  295.328  3.6  3.854     2.811      0.955      3.526      2.249
2022-07-01  295.271  3.5 -0.057     3.854      2.811      0.955      3.526
2022-08-01  295.620  3.7  0.349    -0.057      3.854      2.811      0.955
2022-09-01  296.761  3.5  1.141     0.349     -0.057      3.854      2.811

[892 rows x 7 columns]

In [41]:
october = model2.params.values[0] + (model2.params.values[1] * data["dCPI"].loc["2022-09-01"]) + (model2.params.values[2] * data["dCPI"].loc["2022-08-01"]) + (model2.params.values[3] * data["dCPI"].loc["2022-07-01"]) + (model2.params.values[4] * data["dCPI"].loc["2022-06-01"])
october

1.0314522123178702

In [43]:
november = model2.params.values[0] + model2.params.values[1] *october + (model2.params.values[2] * data["dCPI"].loc["2022-09-01"]) + (model2.params.values[3] * data["dCPI"].loc["2022-08-01"]) + (model2.params.values[4] * data["dCPI"].loc["2022-07-01"]) 
november

0.597887029827869

In [45]:
data["unr_lag"] = data["unr"].shift(1)

<ipython-input-45-8551fea7d444>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["unr_lag"] = data["unr"].shift(1)

In [46]:
data = data.dropna()
Y = data["dCPI"]
X = data[["dCPI_lag", "dCPI_lag2", "dCPI_lag3", "dCPI_lag4", "unr_lag", "unr"]]
X = sm.add_constant(X)
model3 = sm.OLS(Y, X).fit()
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   dCPI   R-squared:                       0.397
Model:                            OLS   Adj. R-squared:                  0.393
Method:                 Least Squares   F-statistic:                     97.16
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           9.34e-94
Time:                        21:13:39   Log-Likelihood:                -372.49
No. Observations:                 891   AIC:                             759.0
Df Residuals:                     884   BIC:                             792.5
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0434      0.045      0.962      0.336      -0.045       0.132
dCPI_lag       0.5855      0.033     17.658      0.000       0.520       0.651
dCPI_lag2     -0.1404      0.038     -3.659      0.000      -0.216      -0.065
dCPI_lag3      0.1439      0.039      3.678      0.000       0.067       0.221
dCPI_lag4      0.0871      0.035      2.495      0.013       0.019       0.156
unr_lag        0.1737      0.030      5.814      0.000       0.115       0.232
unr           -0.1639      0.030     -5.485      0.000      -0.222      -0.105
==============================================================================
Omnibus:                      223.168   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7106.263
Skew:                          -0.421   Prob(JB):                         0.00
Kurtosis:                      16.810   Cond. No.                         37.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [47]:
model3.params

const        0.043446
dCPI_lag     0.585463
dCPI_lag2   -0.140379
dCPI_lag3    0.143928
dCPI_lag4    0.087101
unr_lag      0.173706
unr         -0.163851
dtype: float64

In [48]:
data

,cpi,unr,dCPI,dCPI_lag,dCPI_lag2,dCPI_lag3,dCPI_lag4,unr_lag
time,,,,,,,,
1948-07-01,24.400,3.6,0.250,0.140,0.190,0.320,-0.170,3.6
1948-08-01,24.430,3.9,0.030,0.250,0.140,0.190,0.320,3.6
1948-09-01,24.360,3.8,-0.070,0.030,0.250,0.140,0.190,3.9
1948-10-01,24.310,3.7,-0.050,-0.070,0.030,0.250,0.140,3.8
1948-11-01,24.160,3.8,-0.150,-0.050,-0.070,0.030,0.250,3.7
...,...,...,...,...,...,...,...,...
2022-05-01,291.474,3.6,2.811,0.955,3.526,2.249,1.807,3.6
2022-06-01,295.328,3.6,3.854,2.811,0.955,3.526,2.249,3.6
2022-07-01,295.271,3.5,-0.057,3.854,2.811,0.955,3.526,3.6
2022-08-01,295.620,3.7,0.349,-0.057,3.854,2.811,0.955,3.5
2022-09-01,296.761,3.5,1.141,0.349,-0.057,3.854,2.811,3.7

In [56]:
october = model3.params.values[0] + model3.params.values[1] * data["dCPI"].loc["2022-09-01"] + model3.params.values[2] * data["dCPI"].loc["2022-08-01"] + model3.params.values[3] * data["dCPI"].loc["2022-07-01"] + model3.params.values[4] * data["dCPI"].loc["2022-06-01"] + model3.params.values[6] * 3.7 + model3.params.values[5] * data["unr_lag"].loc["2022-08-01"]
october

0.9916744271736951